/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
nav a {
	display: inline-block;
	margin-right: 9%;
	text-decoration: none;
	color: silver;
	font-weight: 600;
}

nav a:hover {
	text-decoration: underline; 
}

.container header div {
	display: inline-block;
	margin: 1%;
	width: 20%;
	vertical-align: middle;
}

.container header nav {
	display: inline-block;
	margin: 1%;
    width: 72%;
}

.container section div {
	display: inline-block;
}

.container article section div {
	display: inline-block;
}

img {
	display: inline-block;
}

.container {
	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

#middle-img {
	width: 100%;
	margin-top: 4%;
}

#img-header {
	width: 100%;
}

.content-top {
	margin-right: 5%;
	width: 47%;
}

.content-bottom {
	margin-right: 3%;
	width: 31%;
}

.section-bottom {
	margin-top: 4%;
}

.hr-top {
	margin-top: 8%;
	margin-bottom: 4%;
}

.hr-bottom {
	margin-top: 4%;
	margin-bottom: 3%;
}

footer p {
	text-align: center;
	margin-top: 4%;
}

button {
	background-color: white;
}

section div h1 {
	font-size: 100px;
}

#h1-button-img div {
	width: 47%;
	vertical-align: middle;
}

#h1-button-img {
	text-align: center;
	margin-top: 6%;
}

button {
	width: 220px;
	height: 45px;
}

.logo {
	width: 100%;
    height: 100%;
}

h3 {
	font-size:	125%;
}

article section div p {
	font-size: 115%;
}